<div class="gift py-5">
    <div class="brands  m-auto my-3">
        <h3 class="brands-title px-5 py-2 fw-bold">
            The gift on everyone's list</h3>
    </div> 
    <div class="my-3 py-3 px-5">
        <h2 class="fw-bold">Digital Camera</h2><hr class="py-2">
        <app-slider [products]="products"></app-slider>
    </div>
    <div class="my-3 py-3 px-5">
        <h2 class="fw-bold">Digital Watches</h2><hr class="py-2">
        <app-slider [products]="watches"></app-slider>
    </div>
</div>

